.header{
    position: fixed;
    top: 0;
    height: 65px;
    color: white;
    background-color: #ff3131;
    justify-content: center; 
    align-items: center;   
    z-index: 10;
    width: 50vw;
}

.inner-message{
    max-width: 350px;
    padding: 20px;
    background-color: #CCCCCC;
    border-radius: 24px;
}

input{
    border: none;
}

.input{
    outline: none;
}

.input[placeholder]:empty:before {
    content: attr(placeholder);
    color: #CCCCCC; 
}

.message-container{
    position: fixed;
    bottom: 65px;
    height: calc(100vh - 135px);
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column-reverse; 
    justify-content: flex-start;
    width: 47vw;
    padding: 0px 20px;
}

.message-input{
    position: fixed;
    bottom: 10px;
    padding: 15px;
    border-radius: 24px;
    border: 1px solid #CCCCCC;
    background-color: white;
    margin: 0 20px;
    width: 45%;
}

.outer-content{
    margin-left: 10px;
    margin-top: 5px;
}

.send-icon{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #ff3131;
    display: flex;
    align-items: center;
    justify-content: center;
}

.v-h-center{
    width: 50vw;
}
