<div class="container">
    <br>
    <div class="parent">
        <div class="container-search flex-row">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="30px" fill="#333333"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
            <input type="text" placeholder="Search"
            [(ngModel)]="query"
            (input)="onSearch()">
        </div>
        <div class="search-result"  *ngIf="results.length>0">
            <div *ngFor="let result of results"> 
                <button class="bt" (click)="clickUser(result)">
                    <div class="flex-row">
                        <div>{{result.name}}</div>
                        <div class="subtext">@{{result.username}}</div>
                    </div>
                </button>
            </div>
        </div> 
    </div>
    <br>
    <br>
    <div class="chat-list">
        <button type="button" class="chat-bt"   [class.active]="selectedUser?.id == chat.recipientId" *ngFor="let chat of chatlist" (click)="selectChat(chat.recipientId)">        
            <div class="flex-col">
                <strong>{{chat.recipientName}}</strong>
                <div class="subtext">@{{chat.recipientUsername}}</div>
                <p class="ml-10" *ngIf="chat.recipientId !== currentLoggedIn!.id">
                    {{ chat.recipientId !== currentLoggedIn!.id ? 'You' : chat.recipientName }}:
                    {{chat.latestMessage}}
                </p>
                <p class="ml-10" *ngIf="chat.recipientId === currentLoggedIn!.id">
                    {{ chat.recipientId === currentLoggedIn!.id ? 'You' : chat.recipientName }}:
                    {{chat.latestMessage}}
                </p>
            </div>
        </button>
    </div>
</div>